<%- get_layout("header", {user: user}) %>


<main role="main">
    <!-- <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section> -->

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                <% if (posts && posts.length> 0) {%>
                    <% posts.forEach((post, index)=> { %>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="<%= post.thumbnail %>">
                                <div class="card-body">
                                    <h5><%= post.heading %></h5>
                                    <p class="card-text text-muted">
                                        <%= post.paragraphs.length > 100 ? post.paragraphs.substring(0, 100) + "..." : post.paragraphs %>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#viewPostModal-<%= post._id %>">Xem</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#editPostModal-<%= post._id %>">Chỉnh sửa</button>
                                            <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteWarningModal-<%= post._id %>">Delete</button>
                                        </div>
                                        <!-- <small class="text-muted">9 mins</small> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="editPostModal-<%= post._id %>" tabindex="-1" role="dialog" aria-labelledby="editPostModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa bài viết</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="/bai-viet/<%= post._id %>?_method=PUT">
                                        <div class="modal-body">
                                                <!-- <div class="form-group">
                                                    <label for="post-thumbnail" class="col-form-label">Chọn Thumbnail mới:</label>
                                                    <input type="file" class="form-control-file" id="post-thumbnail" name="thumbnail" value="<%= post.thumbnail %>">
                                                </div> -->
                                                <div class="form-group">
                                                    <label for="heading" class="col-form-label">Tiêu đề:</label>
                                                    <input type="text" class="form-control" id="heading" name="heading" value="<%= post.heading %>">
                                                </div>
                                                <div class="form-group">
                                                    <label for="introduction" class="col-form-label">Giới thiệu:</label>
                                                    <textarea class="form-control" id="detail" name="introduction"><%= post.introduction %></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="paragraphs" class="col-form-label">Paragraphs:</label>
                                                    <textarea class="form-control" id="paragraphs" name="paragraphs"><%= post.paragraphs %></textarea>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                            <button type="submit" class="btn btn-success">Lưu chỉnh sửa</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteWarningModal-<%= post._id %>" tabindex="-1" role="dialog" aria-labelledby="deleteWarningModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xoá bài viết</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Bạn có chắc chắn muốn xoá bài viết này
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                        <form method="POST" action="/bai-viet/<%= post._id %>?_method=DELETE">
                                            <button type="submit" class="btn btn-danger">Xoá ngay</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="viewPostModal-<%= post._id %>" tabindex="-1" role="dialog" aria-labelledby="viewPostModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle"><%= post.heading %></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img class="card-img-top" src="<%= post.thumbnail %>">
                                        <p class="card-text text-muted"><%= post.paragraphs %></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <h1>Chưa có bài viết nào.</h1>
                    <a>Tạo bài viết mới</a>
                <% } %> 

            </div>
        </div>
    </div>

</main>
<%- get_layout("footer") %>
